extends ../templates/layout_sub

block content
  // contents
  .contents
    // container
    .container.clearfix
      //컨텐츠 시작
      #real_contents.common_right
        .sub_tit1_box
          .center_box
            h2.sub_tit1 댓글 신고
            .my_vote_list 
              a.rgt_box.round-xxlg(href="#")
                span.ico 
                | 내가 참여한 투표 모아보기
            // //220621 툴팁 버튼추가
        // 분기투표인경우 다른 페이지를 보여준다. 
        include selectBadReply_inc  