extends ../templates/layout_sub

block content
    // contents 
    .contents
      // -- container --
      .container.s_container
        // original : contents_left_nav.html( 주석 : commonLeft::Start )이 들어갈 자리  
        // common_right
        #real_contents.common_right
          form#aform.bbs_form(method="post", action="/mvoting/setting/mypage/ctz/selectPageListCtzReqBoard.do")
            input#notice_no(type="hidden", name="notice_no", value="")
            div.sub_tit1_box
              h2.sub_tit1 시민참여단
            ul.basic_tab.tab_5p.round-md
              li
                a(href="/mvoting/setting/mypage/ctz/selectPageListCtzNotice.do?ctz_notice_se=003") 공지사항
              li
                a(href="/mvoting/setting/mypage/ctz/selectPageListCtz.do?oper_se=001") 투표참여/등록
              li
                a(href="/mvoting/setting/mypage/ctz/selectPageListCtz.do?oper_se=002") SNS공유
              li.active
                a(href="/mvoting/setting/mypage/ctz/selectPageListCtzReqBoard.do") 오류/개선의견
              li
                a(href="/mvoting/setting/mypage/ctz/selectPageListCtzBoard.do") 자유게시판
            // board_list_box 
            .board_list_box
              .sch_bar
                .top_slt_box
                  select#sch_year.form_slt(name="sch_year",  title='<%if(param.getString("oper_se").equals("001")) {%>투표 년도 선택<% } else {%> 공유 년도 선택 <% } %>', onchange="javascript:fnSearch(); return false;")
                    option(value="sch_title") 제목
                    option(value="sch_cn" ) 내용
                    option(value="sch_ncnm") 닉네임
                  .sch_input 					
                    input#sch_text.sch_input(type="text", name="sch_text", title="검색어 입력", placeholder="검색어를 입력해 주세요.", value='<%=param.getString("sch_text")%>')
                    a.sch_btn(href="#", onclick="fnSearch(); return false;")
                      span.hide 검색하기
              // board 시작
              .s_outer 
                .s_table
                  table.board_list
                    caption 번호, 제목, 작성자, 등록일, 조회수가 나타나있는 공지사항 목록
                    colgroup
                      col(style="width:10%;")
                      col(style="width:auto;")
                      col(style="width:8%;")
                      col(style="width:10%;")
                      col(style="width:12%;")
                    thead.thd
                      tr.thd_tr
                        th(scope="col") 번호 
                        th(scope="col") 제목 
                        th(scope="col") 작성자 
                        th(scope="col") 등록일 
                        th(scope="col") 조회수 
                    tbody.tbd
                      tr.item
                        td.num 10
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397	
                      tr.item
                        td.num 9
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397		
                      tr.item
                        td.num 8
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397		
                      tr.item
                        td.num 7
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397		
                      tr.item
                        td.num 6
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397		
                      tr.item
                        td.num 5
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397		
                      tr.item
                        td.num 4
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397		
                      tr.item
                        td.num 3
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397			
                      tr.item
                        td.num 2
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397									
                      tr.item
                        td.num 1
                        td.tit_td 
                          h3.tit
                            a(href="#", data-notice-no="4100") 엠보팅의 '새얼굴' 투표 하고 커피 쿠폰 받자! 이벤트 당첨자 발표
                        td.writer 관리자
                        td.date 2024.01.24
                        td.hits 
                          span.m_lbl_txt 조회수
                          | 397	
                  // // table.border_list End				
                // // .s_table End
                // pagination 
                .pagination
                  a.page_arrow.l2.page_item(href="#", onclick="fnGoPage('1'); return false;")
                    span.hide 처음 페이지로 이동
                  a.page_arrow.l1.page_item(href="#", onclick="return false;")
                    span.hide 이전 5페이지로 이동
                  a.page_item.active(href="#", onclick="fnGoPage('1'); return false;") 1 
                  a.page_item(href="#", onclick="fnGoPage('2'); return false;") 2
                  a.page_item(href="#", onclick="fnGoPage('3'); return false;") 3
                  a.page_arrow.r1.page_item(href="#", onclick="return false;") 
                    span.hide 다음 5페이지로 이동
                  a.page_arrow.r2.page_item(href="#", onclick="fnGoPage('3'); return false;")
                    span.hide 마지막 페이지로 이동
                  input#currentPage(type="hidden", name="currentPage", value="1")
                .common_btn_box.ta_r.just_this
                  a.common_btn.regist.round-xxxlg(href="#", onclick="fnGoInsert(); return false;") 등록
              // // .s_outer End
            // board_list_box End
        // // common_right End 
      // // container  End 
    // contents