@use '../config/mixin';
@use '../utiles/var_colors';
@use '../utiles/var';
header{
    .nav{font-size:1rem; margin-top: em(38px); letter-spacing: -2px;
        .nav_list{margin:0 auto; width: em(690px); 
            &:has( > .nav_item ){
                display:flex; justify-content: space-between; align-items: center;
                
                .nav_item { font-size: em(14px);
                    .link{position:relative; display:block; margin:0 auto; width: em(64px); height: em(94px); 
                     padding-top: em(72px);  text-align:center; 
                        .txt{ @include mixin.pos_x_50;}
                    }
                    &:has( >.nav_list_dp2 ){position:relative; height: em(94px);
                        &.active{ 
                            > .link {}
                            .nav_list_dp2{
                                display:block;
                                li{
                                    &.active{
                                        a{text-decoration:underline; color:var_colors.$primary_color;}
                                    }
                                }
                            }
                        }
                        .nav_list_dp2{$font-size:14px; font-size:$font-size; line-height:1.5; font-weight:600; display:none; box-sizing:border-box; position:absolute; top: em(62px,$font-size); right:0; padding:em(12px,$font-size) em(20px,$font-size); margin-bottom:em(4px, $font-size); width:em(107px,$font-size); border:1.5px solid var_colors.$primary_color; border-radius:em(24px,$font-size) 0 em(24px,$font-size) 0; background-color:#fff;
                        }
                    }
                    @each $idx in (1,2,3,4,5,6,7) {
                        &:nth-child(#{$idx}){ background: url( var.$imgurl_ico + "ico_header_"+$idx+".png") no-repeat 0 0/contain;
                            &:has(>.nav_list_dp2){
                                &.active{
                                    background: url( var.$imgurl_ico + "ico_header_"+$idx+"_on.png") no-repeat 0 0/contain;
                                }
                            }
                        }
                    }
                   
                    
                }
            
            }
        }
    }
}
