//디자인의 변수 값
//폰트
//width, height, padding, margin ...등을 사용
@use '../config/mixin';
@use '../utiles/var_colors';

// input
$formHeight         : 50px;
// button
$btnHeight          : calc($formHeight - 6px);
//font
$fontSet            : 'pretendard, "맑은고딕","malgun gothic", AppleGothic, "돋움", dotum, Helvetica,Arial,sans-serif';
$defaultfontsize    : 16px;
 //h1~h6
$headingFont        : 'pretendard, "맑은고딕","malgun gothic", sans-serif';

$imgurl:'../images/common/';
$imgurl_ico:'../images/ico/';
$imgurl_date:'../images/20240215/';



.round-sm{
	border-radius: 4px;
}
.round-rg{
	border-radius: 6px;
}
.round-md{
	border-radius: 6px;
}
.round-lg{
	border-radius: 16px;
}
.round-xlg{
	border-radius: 22px;
}

.round-xxlg{
	border-radius: 32px;
}

.round-xxxlg{
	border-radius: 50px;
}



