@use '../utiles/var_colors';
@use '../utiles/var';
@use '../config/mixin';
@use 'sass:color';

.container{$font-size:1rem; font-size:1rem; line-height:1.5;
  .container_wrap{
    .sub_tit1_box{position:relative; display:flex; justify-content: center; align-items: stretch; margin:0 auto; height: em(83px); border-bottom:1px solid var_colors.$bdcolor;
      .sub_tit1{ 
        .btn_help{
          position: relative; left:em(-6px);
          width: em(32px);
          height: em(32px);
          border-radius: em(16px);
          line-height: em(32px);
          z-index: 2;
          vertical-align: middle;
          z-index: 3;
          background:var_colors.$primary_bg url(var.$imgurl_ico+'ico_exclamation_mark.png') no-repeat 50% 50%/auto;
          .help_box{
            position: absolute;
            left: calc(100% + 5px);
            top: -100%;
            width: 350px;
            border: 1px solid var_colors.$bdcolor;
            padding: 8px 10px;
            font-size: 14px;
            line-height: 1.4;
            background-color: #fff;
            text-align: left;
            text-align: justify;
            box-shadow: 6px 6px 11px rgba(0,152,158,0.26);
            color: #333;
            border-radius: 5px;
          }
        }
      }
    }
    .common_btn_box.ta_c{margin-top:em(20px); margin-bottom: em(80px); height: em(88px); background-color:#fff; text-align:center;
      &:after{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      } 
      .common_btn.more{display:inline-block; $font-size:20px; font-size: $font-size; font-weight:600; display: inline-block; vertical-align:middle; width:98%; height:98%; line-height: em(88px, $font-size); 
        &:before{content:''; display: inline-block; vertical-align: middle; height:100%;}
        .ico{
          &.plus{display: inline-block; width:em(12px); height:(12px); @include mixin.bgSet; background-image:url(var.$imgurl_ico+'ico_more.png'); vertical-align:middle;}
        }
        span{vertical-align: middle;}      
      }
      .common_btn.regist.v_regist{$font-size:20px; font-size: $font-size;  font-weight:600;
        display: none;
        position: fixed;
        right: em(15px, $font-size);
        bottom: em(40px, $font-size);
        z-index: 10;
        width: em(80px, $font-size);
        height: em(80px, $font-size);
        line-height: em(80px, $font-size);
        border-radius: 50%;
      }
    }
    #main-vote-box{padding-bottom:em(80px); background-color:var_colors.$page_bg; 
      .tab_content{ margin:0 auto; padding-top:em(35px); max-width:em(1400px);
        .total_sch_about_txt{$font-size:20px; font-size:$font-size; text-align:center; padding:em(24px, $font-size) 0; border:2px solid var_colors.$primary_color; background-color:#fff;
          .keyword{color: var_colors.$primary_color;}
        }
        .total_sch_tit{ 
          $font-size:24px; line-height:1.5; font-weight:500;
          font-size: $font-size;  
          margin: em(40px, $font-size) 0 em(28px, $font-size); 
          color:var_colors.$primary_color; 
          .num{color:#000;}
        }
        .vote_list{display:flex; flex-wrap:wrap; justify-content: space-between; align-items: start;
          .item{position:relative; flex:0 0 em(680px); display:flex; justify-content: start; align-items: stretch; margin-bottom:em(40px); height:em(272px); background-color:#fff;
            .img_box{position:relative; display:block; width:em(320px); height:em(272px); 
              .inner{flex:0 0 em(320px);height:em(272px); overflow:hidden;
                .card_img {width:100%; height:auto;}
                .mark_area{position:absolute; left:0; top:0; z-index:1; padding:em(24px); height:em(272px);
                }
                // @for $idx from 1 through 6 {
                //   .card_bg_type_#{$idx}{ padding:em(24px); height:em(272px);
                //     background:url(var.$imgurl+'card-bg-'+$idx+'.png') no-repeat 0 0/auto;
                //   }
                // }
              }//innder End
              .inner_layer{display:none; position:absolute; z-index:10; left:0; top:0; width: 100%; height:100%; justify-content: center; align-items: center; background-color:rgba(0,0,0,0.5);color:#fff; $font-size:20px; font-size:em($font-size); line-height:1.5; font-weight:400;  border-radius:em(16px, $font-size) 0 0 em(16px, $font-size);
                &.type_finish{display:flex; }
              }
              
            }
            .card_txt{display:flex; flex-direction:column; justify-content: space-between; align-items: start; box-sizing:border-box; padding:em(24px) em(32px); width:em(360px);height:em(272px);
              .card_top{display:flex; flex-direction:column; max-width:100%; justify-content: space-between; align-items: stretch; height:em(172px);
                .txt_box{
                  .tit{font-weight:600; line-height:1.4; margin-bottom:em(12px); color:var_colors.$primary_color; @include mixin.ellipsis; }
                  .txt{
                    a{
                      $font-size:18px; font-size:$font-size; font-weight:600; max-height:em( calc( $font-size*1.5*2), $font-size ); @include mixin.ellipsis(2); margin-bottom:em(16px, $font-size);
                    }
                  }
                  .date_box{line-height:1.5;
                    .date{
                      .dday{
                        &.done{color:var_colors.$color_orange;}
                      }
                    }
                  }
                }
                .util_area {display:flex; justify-content: space-between; align-items: center; margin-top:auto; 
                  .ico_info_list{display:flex; justify-content: start; align-items: center;
                    .board_info{margin-right:em(16px); padding-left:em(22px);
                      &.usr_cnt{background:url(var.$imgurl_ico+'ico_bbs_user.png') no-repeat 0 50%/auto;}
                      &.reply{background:url(var.$imgurl_ico+'ico_bbs_reply.png') no-repeat 0 50%/auto;}
                      &.lookup{background:url(var.$imgurl_ico+'ico_bbs_cnt.png') no-repeat 0 50%/auto;}
                    }
                  }
                  .fl_box{
                    .share_btn.btn_share{width: em(32px);height: em(32px);background: url(var.$imgurl_ico+'ico_sns.png') no-repeat 0 0/auto;}
                  }
                }
              }// .card_top End
              .hash_area{
                .vote_hash_mark{$font-size:14px; font-size:$font-size; line-height:1.5;  display: inline-block; padding:em(4px, $font-size) em(8px, $font-size) ; background-color:var_colors.$btn_bg_gray;
                  max-width: em(120px, $font-size);
                  margin-right: em(8px, $font-size);
                  @include mixin.ellipsis;
                }
                &.hash_yes_no{
                  .vote_hash_mark{background-color:color.adjust(#0047EB, $lightness: 10%); color:#fff;}
                }
              }
            } // .card_txt End
            // card 내부 큰 버튼들 
            .over_txt_box{flex:1 0 auto; display: flex; flex-direction:column; justify-content: space-around; align-items:stretch; position:relative; padding:em(24px);
              .inner{ overflow:hidden; position:relative; display:flex; justify-content: center; align-items: center; color:#fff; width:em(288px); height:em(104px); background-color:var_colors.$color_blue; background-repeat: no-repeat; background-position: center center; background-size:auto;
                &:after{content:''; position:absolute; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); 
                }
                &:hover:after{
                  background-color:rgba(0,0,0,0);
                }
                .abs{position:absolute; z-index:1100; }
                &.vs_left{background-color:var_colors.$primary_bg;}
                &.vs_right{background-color:var_colors.$btn_bg_dark_gray;}
              }
              .ico_vs{ @include mixin.pos_x_50; z-index:1000; width:em(36px); top:50%; transform:translateX(-50%) translateY(-50%); height:em(36px); background:url(var.$imgurl_ico+'ico_vs.png') no-repeat 0 0/auto; }
            }
            // card 내부 큰 버튼들 배경 이미지 변경
            &.type_yes{
              .over_txt_box{
                .inner{
                  &.vs_left{}
                  &.vs_right{}
                }
              }
            }
            &.type_interest{
              .over_txt_box{
                .inner{
                  &.vs_left{}
                  &.vs_right{}
                }
              }
            }
            &.type_complex{
              .over_txt_box{
                .inner{

                }
              }
            }
            //sns 팝업
            .share_layer_box.share_box{ display:none; position:absolute; z-index: 5; left:0; top:0; padding: em(24px) em(32px) ;width:100%; height:100%; background-color:rgba(0,0,0,0.4);text-align: center;
              &:after{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }
              .inner{display: inline-block;
                position: relative;
                width: 100%; height:100%;
                vertical-align: middle;
                &:after{
                  content: '';
                  display: inline-block;
                  height: 100%;
                  vertical-align: middle;
                }
                .list.m_sns_share{position:absolute; padding:em(12px) em(24px); right:em(64px); bottom: em(calc($font-size *1.5) + calc($font-size*1.4)); background-color:#ffffff;
                  &.left{right:auto; left:em(50px); }
                  .sns_item{display:inline-block; vertical-align: middle; width:em(32px); height:em(32px);
                    a{ display:block; width:em(32px); height:em(32px);}
                    &:after{
                      content: '';
                      display: inline-block;
                      height: 100%;
                      vertical-align: middle;
                    }
                    &.btn_facebook{background:url(var.$imgurl_ico+'ico_share_facebook.png') no-repeat 50% 0/auto;
                      a{}
                    }
                    &.twit.btn_twitter{background:url(var.$imgurl_ico+'ico_share_x.png') no-repeat 50% 0/auto;
                      a{}
                    }
                    &.qr{background:url(var.$imgurl_ico+'ico_share_qr.png') no-repeat 50% 0/auto;
                      a{}
                    }
                    &.url.btn_urlcopy{background:url(var.$imgurl_ico+'ico_share_url.png') no-repeat 50% 0/auto;
                      a{}
                    }
                  }
                    
                }
                button.share__btn{position:absolute; right:0; bottom: em(calc($font-size *1.5) + calc($font-size*1.7)); width:em(48px); height:em(48px); background:url($imgurl_ico+'ico_share_btn_on.png') no-repeat 0 0/auto; 
                  &.left{right:auto; left:em(260px);}
                }
                button.share_layer_close{position:absolute; top:0; right: 0; width:em(22px); height:em(22px); background:url(var.$imgurl_ico+'ico_btn_close.png') no-repeat 0 0/contain; }
              
              }
            }
          }
        }// .vote_list End
        //투표 없음
        .vote_none{text-align: center;
          p{margin:em(40px) 0 em(25px) 0;}
        }
      }// .tab_contetn End
      
    }
  }//container_wrap End
}//container End

