@use '../utiles/var_colors';
@use '../utiles/var';
@use '../config/mixin';

.sub_tit1_box{ font-family: var.$fontSet; font-size:1rem; margin-top:em(24px);text-align:center; 
  .center_box{position:relative; margin:0 auto; width:100%; max-width:em(1400px);
    &:before{
      content:'';
      display: inline-block;
      height:100%;
      vertical-align: middle;
    }
    .sub_tit1 {display: inline-block; $font-size:26px; font-size: em(26px); font-weight: 600; line-height:1.5; vertical-align: middle;      
        &:before{
          content:'';
          display: inline-block;
          height:100%;
          vertical-align: middle;
        }
    }
    .my_vote_list{position:absolute; right:0; top:50%; transform:translateY(-50%); text-align:right;
      .rgt_box{ display: inline-block; padding:em(12px) em(16px); border:1px solid var_colors.$bdcolor; background:#fff;
        &:before{
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        .ico{margin-right:em(8px); width:em(24px); height:em(24px);  background:url(var.$imgurl_ico+"ico_check.png") no-repeat 0 0/auto; }
      }
      
    }
    .board_util_box{ @include mixin.pos_y_50; left:auto; right:0; width:em(220px); 
      .board_util_array{ display: flex; justify-content: start; align-items: center;
        li{position:relative; margin-right:em(30px);
          &:before{@include mixin.afterBefore(('_width':6px, '_height':6px,'_border':0 none, '_border-radius':50%, '_padding':0, '_bg-color':#ccc, '_left':em(-14px) ));}
          &.active{
            &:before{ background-color: var_colors.$primary_bg; }
          }
        }
      }
    }
  }
}