extends ./templates/layout

block content 
    main        
        .contents
            #myCarousel.carousel.slide(data-bs-touch="true", data-bs-ride="carousel")
                .carousel-indicators
                    button.active( type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide-to="0",  aria-label="Slide 1")
                        span.hide 첫 번째 배너
                    button( type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide-to="1" , aria-label="Slide 2")
                        span.hide 두 번째 배너
                    button( type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide-to="2" , aria-label="Slide 3")
                        span.hide 세 번째 배너
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src="...",alt="슬라이드1")
                    .carousel-item
                        img.d-block.w-100(src="...",alt="슬라이드2")
                    .carousel-item
                        img.d-block.w-100(src="...",alt="슬라이드3")
                button.carousel-control-prev(type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.visually-hidden 이전 배너 보기
                button.carousel-control-next(type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.visually-hidden 다음 배너 보기
            .container.clearfix
                p
                    a(href="./html/sub-1.html") 링크
                .vote_list
                    each val, index in [1,2,3,4,5]
                        article.card_hot_issue.item
                            a.img_box(href="#")
                                .inner
                                    div(class="card_bg_type_" + val)
                                        span.btn-blue 인기투표
                                        span.btn-red 정책반영
                            .card_txt
                                .card_top
                                    div(class="txt_" + val )                                                
                                        h1 블록체인 객관식 정책투표
                                        p.txt 
                                            a(href="#") 2024년 서울시 북스타트 엄마북(Book) 돋움 엄마아빠책을 투표해주세요!
                                        p.date_box 
                                            span.date 2023.11.01 ~ 2023.11.15 
                                                em.dday (D-1)
                                .card_btm.util_area 
                                    ul.ico_info_list
                                        li.usr_cnt
                                            span.hide 투표인원
                                            | 6,789
                                        li.reply
                                            span.hide 댓글수
                                            | 20
                                        li.lookup
                                            span.hide 조회수
                                            | 20
                                    .fl_box
                                        button.share_btn.btn_share(type="button")
                                            span.hide SNS 공유 창 열기
                                .hash_area
                                    a.vote_hash_mark(href="#") #어울림플라자
                                    a.vote_hash_mark(href="#") #장애인
                                    a.vote_hash_mark(href="#") #비장애인
                                    a.vote_hash_mark(href="#") #명칭

