extends ./templates/layout
             
block content 
    main        
        .contents
            #myCarousel.carousel.slide.hide(data-bs-touch="true", data-bs-ride="carousel")
                .carousel-indicators
                    button.active( type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide-to="0",  aria-label="Slide 1")
                        span.hide 첫 번째 배너
                    button( type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide-to="1" , aria-label="Slide 2")
                        span.hide 두 번째 배너
                    button( type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide-to="2" , aria-label="Slide 3")
                        span.hide 세 번째 배너
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src="...",alt="슬라이드1")
                    .carousel-item
                        img.d-block.w-100(src="...",alt="슬라이드2")
                    .carousel-item
                        img.d-block.w-100(src="...",alt="슬라이드3")
                button.carousel-control-prev(type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.visually-hidden 이전 배너 보기
                button.carousel-control-next(type="button", data-bs-target="#carouselExampleIndicators", data-bs-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.visually-hidden 다음 배너 보기
            .container.clearfix
                .container_wrap
                    .sub_tit1_box
                        h2.sub_tit1
                            // 220621 툴팁 버튼추가
                            button.btn_help(type="button", title="열기")
                                    span.hide 도움말
                                    span.help_box 서울시민+공무원이 올린 투표 중 투표수가 많은순 모아보기 입니다.
                            | 핫이슈 
                        // //220621 툴팁 버튼추가
                    #main-vote-box
                        .tab_content
                            // ---------------- vote_list 시작 ---------------
                            ul.vote_list
                                each val, index in [1,2,3,4,5]
                                    li.card_hot_issue.item.round-lg.box-shadow-card
                                        a.img_box(href="#")
                                            .inner
                                                div(class="card_bg_type_" + val)
                                                    span.b-sm.btn-blue.round-xlg 인기투표
                                                    span.b-sm.btn-purple.round-xlg 인기투표
                                                    span.b-sm.btn-red.round-xlg 정책반영
                                            .type_finish.inner_layer
                                                span 참여완료
                                        .card_txt
                                            .card_top
                                                div(class="txt_box txt_" + val )                                                
                                                    h1.tit 블록체인 객관식 정책투표 블록체인 객관식 정책투표
                                                    p.txt 
                                                        a(href="#") 2024년 서울시 북스타트 엄마북(Book)엄마 아빠 책을 투표해주세요! 엄마 아빠책을 투표해주세요! 
                                                    p.date_box 
                                                        span.date.fc_gray 2023.11.01 ~ 2023.11.15 
                                                            em.dday (D-1)
                                                .card_btm.util_area 
                                                    ul.ico_info_list
                                                        li.usr_cnt.board_info
                                                            span.hide 투표인원
                                                            | 6,789
                                                        li.reply.board_info
                                                            span.hide 댓글수
                                                            | 20
                                                        li.lookup.board_info
                                                            span.hide 조회수
                                                            | 20
                                                    .fl_box
                                                        button.share_btn.btn_share(type="button")
                                                            span.hide SNS 공유 창 열기
                                            .hash_area
                                                a.vote_hash_mark.round-sm(href="#") #어울림플라자
                                                a.vote_hash_mark.round-sm(href="#") #장애인
                                                a.vote_hash_mark.round-sm(href="#") #비장애인
                                        //sns-popup layer
                                        .share_layer_box.share_box.round-lg
                                            .inner.round-rg
                                                ul.list.m_sns_share.round-xxlg
                                                    li.sns_item.btn_facebook
                                                        a(href="#", title="새창열림") 
                                                            span.hide 페이스북
                                                    li.sns_item.twit.btn_twitter
                                                        a(href="#", title="새창열림") 
                                                            span.hide 엑스
                                                    li.sns_item.qr
                                                        a(href="#", data-layeropen="qr" title="QR app 열림") 
                                                            span.hide QR코드
                                                    li.sns_item.url.btn_urlcopy
                                                        a(href="#") 
                                                            span.hide URL 복사
                                                button.share__btn(type="button")
                                                    span.hide 공유하기
                                                button.share_layer_close(type="button")
                                                    span.hide SNS 공유 창 닫기
                                li.card_hot_issue.item.round-lg.box-shadow-card
                                    .card_txt
                                        .card_top
                                            div(class="txt_box txt_" + val )                                                
                                                h1.tit 블록체인 객관식 정책투표
                                                p.txt 
                                                    a(href="#") 2024년 서울시 북스타트 엄마북(Book) 돋움 엄마아빠책을투표해주세요!
                                                p.date_box 
                                                    span.date.fc_gray 2023.11.01 ~ 2023.11.15 
                                                        em.dday (D-1)
                                            .card_btm.util_area 
                                                ul.ico_info_list
                                                    li.usr_cnt.board_info
                                                        span.hide 투표인원
                                                        | 6,789
                                                    li.reply.board_info
                                                        span.hide 댓글수
                                                        | 20
                                                    li.lookup.board_info
                                                        span.hide 조회수
                                                        | 20
                                                .fl_box
                                                    button.share_btn.btn_share(type="button")
                                                        span.hide SNS 공유 창 열기
                                        .hash_area
                                            a.vote_hash_mark.round-sm(href="#") #어울림플라자
                                            a.vote_hash_mark.round-sm(href="#") #장애인
                                            a.vote_hash_mark.round-sm(href="#") #비장애인
                                    .over_txt_box
                                        a.inner.vs_left.round-sm(href="#") 예
                                        a.inner.vs_right.round-sm(href="#") 아니오
                                    //sns-popup layer
                                    .share_layer_box.share_box.round-lg
                                        .inner.round-rg
                                            ul.list.m_sns_share.round-xxlg.left
                                                li.sns_item.btn_facebook
                                                    a(href="#", title="새창열림") 
                                                        span.hide 페이스북
                                                li.sns_item.twit.btn_twitter
                                                    a(href="#", title="새창열림") 
                                                        span.hide 엑스
                                                li.sns_item.qr
                                                    a(href="#", data-layeropen="qr" title="QR app 열림") 
                                                        span.hide QR코드
                                                li.sns_item.url.btn_urlcopy
                                                    a(href="#") 
                                                        span.hide URL 복사
                                            button.share__btn.left(type="button")
                                                span.hide 공유하기
                                            button.share_layer_close(type="button")
                                                span.hide SNS 공유 창 닫기    
                            .common_btn_box.ta_c.box-shadow-card.round-sm
                                a.common_btn.more.btn_more(href="#", data-page="2") 더보기 +
                                a.common_btn.regist.v_regist(href="/mvoting/makevote/insertFormObjectiveVote.do") 투표등록
                            

